---
layout: page.njk
title: Teaching
permalink: /teaching/
---
<ul class="row-list span course-list">
  {%- for c in cv.teaching %}
  <li class="row">
    <div class="m">{{ c.term }}</div>
    <div class="t">
      <h3><a href="/teaching/{{ c.slug }}/">{{ c.course }}</a></h3>
      <p>{{ c.role }}, {{ c.where }}</p>
    </div>
  </li>
  {%- endfor %}
</ul>
