---
layout: page.njk
title: Not here
permalink: /404.html
eleventyExcludeFromCollections: true
---
<p>This page is outside the field of view. Try the <a href="/">home page</a>, <a href="/publications/">publications</a>, or <a href="/teaching/">lecture notes</a>.</p>
